
.container {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    background: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.listItem {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.listItem:hover {
    transform: translateY(-3px);
}

.title {
    cursor: pointer;
    color: #007BFF;
    transition: color 0.2s;
}

.title:hover {
    color: #0056b3;
}

.button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0056b3;
}

input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 1rem;
    transition: border-color 0.2s;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.pagination button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
