
.footerContainer {
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.footerText {
    color: #555;
    font-size: 1.7rem;
}
